<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<nav class="header">
    <a href="#">Main view</a>
    <a href="#">Some other view</a>
    <a href="#">Third view</a>
</nav>

<h1>Астап прівєт!</h1>

<div class="item">
    <!-- Кружок зліва-->
    <span class="circle-image"></span>
    <!-- імя айтема-->
    <h4 class="name">Brunch this weekend?</h4>
    <!-- параграф з описом-->
    <p class="description">I'll be in your neighborhood doing errands</p>
    <!-- галочка справа-->
    <span class="galochka"></span>
</div>

<div class="item">
    <span class="circle-image"></span>
    <h4 class="name">Brunch this weekend?</h4>
    <p class="description">I'll be in your neighborhood doing errands</p>
    <span class="galochka"></span>
</div>

<div class="item">
    <span class="circle-image"></span>
    <h4 class="name">Brunch this weekend?</h4>
    <p class="description">I'll be in your neighborhood doing errands</p>
    <span class="galochka"></span>
</div>

<div class="item">
    <span class="circle-image"></span>
    <h4 class="name">Brunch this weekend?</h4>
    <p class="description">I'll be in your neighborhood doing errands</p>
    <span class="galochka"></span>
</div>

<div class="item">
    <span class="circle-image"></span>
    <h4 class="name">Brunch this weekend?</h4>
    <p class="description">I'll be in your neighborhood doing errands</p>
    <span class="galochka"></span>
</div>

<div class="item">
    <span class="circle-image"></span>
    <h4 class="name">Brunch this weekend?</h4>
    <p class="description">I'll be in your neighborhood doing errands</p>
    <span class="galochka"></span>
</div>

<div class="item">
    <span class="circle-image"></span>
    <h4 class="name">Brunch this weekend?</h4>
    <p class="description">I'll be in your neighborhood doing errands</p>
    <span class="galochka"></span>
</div>

</body>
</html>