body {
    background-color: red;
}

.item {
    background-color: #0000fe;
}

.item .circle-image {
    border-radius: 30px;
    width: 60px;
    height: 60px;
    display: block;
    background-color: #008000;
    float: left;
}

.item h4 {
    font-weight: bold;
}

.item .galochka {
    /*хз так зразу і не напишеш )*/
}