/* тут ідуть стилі для екранів < за 600пікс */
body {
    background-color: whitesmoke;
    margin: 0 0 0 0;
    padding: 30px 0 0 0;
}

header {
    background-color: blue;
    position: fixed;
    box-shadow: 10px 10px 10px 10px;
    height: 30px;
    width: 100%;
    top: 0;
    text-align: center;
}

header a, header a:hover, header a:visited {
    color: white;
    text-decoration: none;
}

.item {
    background-color: #0000fe;
    border-bottom-style: groove;
    height: 80px;
    width: 100%;
}

.item:hover {
    box-shadow: 5px 5px 5px 5px;
}

.item .circle-image {
    border-radius: 160px;
    width: 80px;
    height: 80px;
    display: block;
    background-color: orangered;
    float: left;
}

.item h4 {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    line-height: 28px;
}
.item .description {
    text-align: center;
    font-weight: bolder;
    font-size: large;
    line-height: 10px;
}

.item .galochka {
    /*хз так зразу і не напишеш )*/
}

/* тут ідуть стилі для екранів > за 600пікс */
@media screen and (min-width: 600px) {
    .item {
        width: 500px;
        margin: auto;
    }
}

@media screen and (min-width: 960px) {
    .item {
        background-color: red;
    }
}


/* css selectors */

div{
    color: red;
}

div{
    color: grey;
}

.some-class{
    color: blue;
}

.some-class.sec-class{
    color: #000080;
}

.parent .sec-class{
    color: magenta;
}

#some-id{
    color: yellow;
}

#some-id.some-class{
    color: #008000;
}

div[my-attr="someval"]{

}





/* box-model */

.parent {
    background-color: gray;
}

.block{
    display: block;
    background-color: #008000;
    margin: 2px;
    padding: 2px;
}

.inline {
    display: inline;
    background-color: red;
    margin: 2px;
    padding: 2px;
}

.inline-block{
    display: inline-block;
    background-color: blue;
    margin: 2px;
    padding: 2px;
}